# Map all contributors to their proper identities
vapostol <apostolou.vicky@gmail.com>
Kostas-Apo <kostas.apostolou94@gmail.com> kapostolo <kostas.apostolou94@gmail.com>
dilhanaslamaci <dilhanaslamaciiu@gmail.com> daslamac <dilhanaslamaciiu@gmail.com>
